<div class="row">
    <div class="col-6 py-2">
        <h2>Adăugare autori</h2>
        <form action="/adaugareAutor" method="POST">
            <div class="form-group">
            <input class="form-control" type="text" placeholder="nume complet al autorului" name="nume_autor">
        </div>
            <button class="btn btn-outline-success" type="submit">Adaugă</button>
        </form>
    </div>
    <div class="col-6 py-2">
        <div class="overflow-auto">
            <ul>
            <% for (let i = 0; i < autori.length; i++) {%>
                <li><%= autori[i].nume_autor %></li>
            <% } %>
            </ul>
        </div>
    </div>
</div>